@import './base.css';

body {
  background-color: var(--bg-primary);
  font-family: 'Open Sans', sans-serif;
}

p,
b,
i,
a,
h1,
h2,
h3,
img,
span,
label {
  color: var(--text-primary);
}

.material-fill {
  font-variation-settings: 'FILL' 1;
}
